.navChats {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 70px;
}
.navChats:hover {
    background-color: #F5F5F5;
}
.navChats.active {
    background-color: #EBEBEB;
}
.lines {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #EEE;
    padding-right: 15px;
    margin-left: 15px;
    flex-wrap: wrap;
    min-width: 0;
}
.line {
    display: flex;
    justify-content: space-between
    ;
    align-items: center;
    width: 100%;
}
.name {
    font-size: 1.1rem;
    color: #000;
}
.date {
    font-size: 0.8rem; 
    color: #999;
}
.lastMsg {
    font-size: 0.9rem;
    color: #999;
    display: flex;
    width: 100%;
}
.lastMsg p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}